<html>

<head>
</head>
<body>
<h1>
{{userName}}

<a href="/logout">Logout</a>
</h1>

<h2>
<ol>
    {{#formStrings}}
        <li>
            {{.}}
        </li>
    {{/formStrings}}
</ol>
</h2>


<form action="/form" method="post">
    Title
    <input type="text" placeholder="title" name="title"/>

    Genre
    <input type="text" placeholder="genre" name="genre"/>

    System
    <input type="text" placeholder="system" name="system"/>
    <button type="submit">Submit</button>
</form>

</body>
</html>